
@import "./constants.scss";

.detailAnalysisWrapper {
   .detailAnalysis {
    //    background-color: lawngreen;
       .detailAnalysisTabs {
        // background-color: aliceblue;
           .detailAnalysisTabArea {
                // background-color: gainsboro;
           }
           .detailAnalysisContentArea {
                // background-color: brown;
                .tabPanel {
                    overflow: hidden;
                    overflow-y: scroll;
                    height: 48vh;
                    > div {
                        width: 97%;
                        padding-top: unset;
                        padding-left: unset;
                        text-align: justify;
                    }
                }
           }
       }
   }
}
