
@import "./constants.scss";

.playlistWrapper {
    margin-top: 3vh;
    .sideCompanyInfo {
        display: flex;
        justify-content: center;
        padding: 1em 0em;
        .sideCompanyInfo-content {
            display: flex;
            justify-content: center;
            .sideCompanyInfo-bio {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                .tickerCode {
                    font-size: 30px;
                }
                .tickerName {
                    font-size: 50px;
                }
                .tickerCurrentPrice {
                    font-size: 40px;
                }
                .tickerCurrentChange {
                    color: $green-profit;
                }
                .tickerCurrentChangePercentage {
                    color: $green-profit;
                }
                .tickerLogo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 8em;
                    }
                }
                
            }
            .sideCompanyInfo-desc {
                text-align: justify;
                overflow: hidden;
                overflow-y: scroll;
                height: 200px;
                .desc-content {
                    width: 98%;
                }
            }
            .sideCompanyInfo-infotags {
                .companySections {
                    min-height: 5em;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    border-top: solid 1px #FFFFFF;
                    margin: 0px 5px;
                    .companySections-name {
                        margin-bottom: 0.5em;
                        color: #767676;
                        font-size: 0.9em;
                        margin-top: 0.5em;
                    }
                    .companySections-desc {
                        word-break: break-word;
                        text-align: left;
                    }
                }
            }
        }
    }
    .sideChart {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        .titleChart {
            position: absolute;
            top: 0;
            font-size: 2em;
        }
        .pieChartStockHolder {
            width: 80%;
            .textAnchor {
            }
        }
        .buttonDetail {
            bottom: 5em;
        }
    }
}
