.listWeeklyAnalysis {
}

.datepickerWrapper {
    height: 10vh;
}

.datepickerWrapper > div {
    height: 5vh;
}

.react-datepicker__input-container {
    height: 100%;
}

.react-datepicker__input-container input{
    height: 100%;
    text-align: center;
    padding: 0px 30px 0px 0px;
}