.layout-content-wrapper {
    min-height: 62vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.layout-content-inside-wrapper {
    width: 90% !important;
    min-height: 55vh;
    margin: 2em 0em;
}

.autocomplete-wrapper {
    position: relative;
}
.panel-list {
    display: flex;
    align-items: center;
    height: 3em;
}

.panel-list-name {
    /* width: 40%; */
}

.panel-list-value {
    /* width: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-list-status {
    /* width: 30%; */
}

.statusWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-list-values {
}

.panel-list-values-value {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.panel-list-text {

}

.panel-list-status {

}

.statusCategory {
    margin-bottom: 10px;
}

.panel-list-pass, .panel-list-notpass, .panel-list-notapplicable  {
    display: none;
    float: left;
}

.panel-list-status.pass .panel-list-pass {
    border-radius: 4px;
    background-color: rgb(45, 201, 126);
    padding: 3px 3px;
    color: white;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: right;
    white-space: nowrap;
    display: flex;
}

.panel-list-status.na .panel-list-notapplicable {
    display: flex;
    border-radius: 4px;
    background-color: lightgray;
    padding: 3px 7px;
    color: white;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
}

.panel-list-status.notpass .panel-list-notpass {
    display: flex;
    border-radius: 4px;
    background-color: rgb(255, 146, 18);
    padding: 3px 7px;
    color: white;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
}
.panel-list-category-title {

}

.panel-list-category-desc {
    font-family: "AvenirLightItalic";
    font-size: 14px;
}

.resultWrapper {
    width: 100%;
    height: auto;
}

.panel-list:nth-child(odd) {
    background-color: lightgrey;
}

#animated {
    margin: 5em 0em;
}

#animated input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

#animated input[type=text]:focus {
    width: 500px;
}

#animated i {
  position: relative;
  left: 30px;
}

.autocomplete-wrapper {
    margin: 2em 0em;
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}

.autocomplete-wrapper-inside {
    display: flex;
    justify-content: space-between;
}

.autocomplete-area {
    width: 100%;
}

.autocomplete-area>div>div {
    width: 85%;
}

.autocomplete-area>div{
    width: 100%;
}

.clearButton {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 15% !important;
}

.clearButton i{
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    background-color: white;
}
.contentChecklist {
    height: 95%;
}
.autocomplateWrapper {
    width: 100%;
    height: 100px;
    position: relative !important;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.suggestionWrapper {
    background-color: white;
    color: black;
    width: 100% !important;
    height: auto;
}

div.ReactVirtualized__Grid.ReactVirtualized__Table__Grid {
    height: auto!important;
}

.item {
    border-bottom: solid 1px black;
}



.autocomplete-wrapper-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-size: 1em;
    background-color: white;
    padding: 1em 0.8em;
    text-transform: uppercase;
}

.suggestionRow {
    border-bottom: solid 1px black;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.suggestionRowInfoTicker {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1vw;
}

.suggestionRow:hover {
}
.suggestionRowInfoExchange {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
}

.suggestionRowInfoExchangeName {
    text-align: right;
}

.suggestionRowSymbol {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "AvenirMedium";
}

.suggestionRowName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "AvenirLightItalic";
}

.leftSide {
    width: 100%;
    height: 100%;
}

.rightSide {
    height: 100%;
}

.rightSideChart {
    width: 100%;
}

.leftSideChart {
    height: 835px !important;
}

.leftSideChart > div {
    height: 100% !important;
}

.leftSideChart > div > div{
    height: 100% !important;
    width: 100% !important;
}

.leftSideChart iframe{
    margin: unset !important;
    width: 100% !important;
    height: 100% !important;
}

.rightSideChart iframe{
    margin: unset !important;
}

.chartBar {
}

.economicCalendar {
}

.preTickerContent {
}

.marketArea {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.marketAreaOverview {
    margin: 0 0 2em 0 !important;
}

.marketAreaDataItems {
    margin-bottom: 1rem !important;
}

.marketAreaOverview div {
    width: 100% !important;
}

.marketAreaOverview div iframe{
    width: 100% !important;
}

.marketAreaData {
    margin: 0 0 2em 0 !important;
}

.marketAreaData div {
    width: 100% !important;
    overflow-y: hidden;
    overflow-x: auto;
}

.postSearchTicker_Info div {
    width: 100% !important;
}

.postSearchTicker_Info .carousel-status {
    display: none;
}

.postSearchTicker_Info div iframe{
    width: 100% !important;
}

.companyProfile {
    margin-bottom: 10px;
}

.marketAreaData div iframe{
    width: 100% !important;
}

.postSearchTicker_SymbolOverview {
    min-height: 500px;
    margin-bottom : 1.5em !important
}

.postSearchTicker_SymbolOverview div{
    height: 70vh !important;
}


.timelineChart {
    width: 100%;
}

.timelineChart > div > div {
    width: 100% !important;
    margin-top: 15px;
}

.timelineChart iframe{
    width: 100% !important;
}

.customAnalysis {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.customAnalysis .MuiTableCell-head {
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.4em;
}

.customAnalysis .MuiTableBody-root .MuiTableCell-root{
    text-align: left;
}