
.companyAnalysisItemWrapper {
    margin: 3vh 0;
    border: solid 0.25rem white;
    padding: 1rem;
    color: white;
}
.companyAnalysisItemTitle {
    font-size: 1.8rem;
    font-family: 'AvenirMedium';
}

.companyAnalysisItemText {
    font-size: 1.1em;
    margin: 2vh 0vh;
}

.companyAnalysisItemAnalysisText {
}

.companyAnalysisItemPosted {
    font-style: italic;
}

.listWeeklyAnalysis {
}

.analysisItemTitle span {
    font-size: 1.3em;
    font-family: 'AvenirMedium';
}

.analysisItemWrapper {
    padding: 1rem 0;
}

.analysisContent {
    text-transform: capitalize;
}

.analysisItemStatus.bullish {
    color: #00ab5e;
}

.analysisItemStatus.bearish {
    color: #ff333a;
}