.MuiTypography-body1 {
    margin: 10px 0 !important;
}
.btnMore {
    background: #0071e3 !important;
    color: #fff !important;
    border-radius: 980px !important;
}
.btnSubscribe {
    background: #0071e3 !important;
    color: #fff !important;
    border-radius: 980px !important;
    margin-top: 5px;
}

.btnSubscribe:hover {
    color: #0071e3 !important;
    background: #fff !important;
}
.gridWrapper {
    max-width: 100vw;
    margin: 0px !important;
    justify-content: space-around;
}

h2 {
    margin: 0px !important;
}

.sizeAble:hover {
    transform: scale3d(1.05, 1.05, 1);
}

.gridTitle {
    text-align: center;
}

.gridContent {
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.gridItem {
    height: 138px;
    width: 204px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gridItemImgContainer {
    width: 100%;
    /* height: 80%; */
}

.gridItemTextContainer {
    width: 100%;
    height: 20%;
}

.topInput label {
    color: white;
    text-shadow: 0.1em 0.1em 0.05em #333;
}