a:link, a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
}

.socmedIcon {
    margin-right: 15px;
}

.buttonUp {
    position: fixed;
    right: 1em;
    bottom: 4rem;
}

.buttonUp svg{
    padding: 1em;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
}

.langWrapper {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
}

.langBtn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
    background-color: white;
}

.langBtn.active {
    color: white;
    background-color: cadetblue;
}

.collapseFooter.close {
    height: 0;
}