.subscription0 {
    /* border:solid 5px #5d5d5d; */
    border:solid 5px #FFFFFF;
    background:#D7E1D5;
    color: #A86692;
}
.subscription1 {
    /* border:solid 5px #007F59; */
    border:solid 5px #FFFFFF;
    background:#D7E1D5;
    color: #A86692;
}
.subscription6 {
    /* border:solid 5px #0068DB; */
    border:solid 5px #FFFFFF;
    background:#D7E1D5;
    color: #A86692;
}
.subscription12 {
    /* border:solid 5px #01366D; */
    border:solid 5px #FFFFFF;
    background:#D7E1D5;
    color: #A86692;
}

.banner {
    position: absolute;
    top: -2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4em;
    
}

.banner img{
    height: unset;
    width: 8em;
}