.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.result-list {
    width: 990px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-item {
    width: 310px;
    height: 403px;
    flex-direction: column;
    background-color: rgba(32,32,51,0.96);
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
}

.result-item:nth-child(3n) {
    margin-right: 0px;
}

.itemImage {
    width: 100%;
    height: 155px;
}

.itemImage img{
    height: 100%;
}

.itemName {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    width: 90%;
    padding: 5%;
}
.itemDesc {
    width: 90%;
    padding: 5%;
    height: 185px;
}
.itemInfo {
    width: 90%;
    height: 63px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemCount {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.itemPop {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}


.playlistWrapper {
    min-height: 62vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.rowSearch {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.SelectedWeek {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dateSelector {
    width: 100%;
}

.selectedWeekValue {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
.DayPicker-wrapper {
    overflow: hidden;
}

.SelectedWeek .DayPicker-wrapper {
    -webkit-animation: goesDown 1s forwards;
    animation: goesDown 1s forwards;
}


.SelectedWeek.active .DayPicker-wrapper {
    -webkit-animation: goesUp 1s forwards;
    animation: goesUp 1s forwards;
}


@-webkit-keyframes goesUp {
    0% {
        height: 1px;
    }

    100% {
        height: 321px;
    }
}

@-webkit-keyframes goesDown {
    0% {
        height: 321px;
    }

    100% {
        height: 1px;
    }
}


@keyframes goesUp {
    0% {
        height: 1px;
    }

    100% {
        height: 321px;
    }
}

@keyframes goesDown {
    0% {
        height: 321px;
    }

    100% {
        height: 1px;
    }
}
.areaClick {
    width: 100px;
    height: 80px;
    background-color: blueviolet;
}