.snackbar-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .snackbar-container {
    width: 100%;
    box-shadow: 0 2px 8px 0 #1a273d40;
    background-color: #ffffff;
  }
  
  .error-container {
    border-left: 4px solid red;
  }
  
  .info-container {
    border-left: 4px solid #2b89e9;
  }
  
  .success-container {
    background-color: #4cd16d;
  }
  
  .warning-container {
    border-left: 4px solid #ffbc22;
  }
  
  .snackbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .snackbar-info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5em;
  }
  
  .snackbar-info-container > div > h5:nth-child(2) {
    margin-bottom: 0;
  }
  
  .snackbar-container > div > div:nth-child(1) {
    margin-right: 1rem;
  }
  
  .snackbar-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url(../images/alertCircle.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
  }
  
  .error-snackbar-icon {
    background-color: red;
  }
  
  .info-snackbar-icon {
    background-color: #2b89e9;
  }
  
  .success-snackbar-icon {
    background-color: #4cd16d;
  }
  
  .warning-snackbar-icon {
    background-color: #ffbc22;
  }
  
  #close-snackbar-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  #snackbar-fixed-container {
    position: fixed;
    top: 10vh;
    right: 1vh;
  }
  
  .rubik-text {
    font-size: 1em;
    font-weight: 500;
  }
  
  .muted-rubik-text {
    font-size: 0.7em;
  }
  
  @media (max-width: 728px) {
    .snackbar-container {
      width: auto;
    }
  }

  .closeBtn {
      position: absolute;
      right: 0;
  }