.stock-item {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 0;
    align-items: center;
    box-shadow: 4px 6px 8px 1px rgb(0 0 0 / 29%);
    border: solid 4px darkcyan;
}

.stock-item-wrapper {
    width: 560px;
    height: 160px;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.stock-item-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.stock-item-name {
    font-size: 2em;
}

.stock-item-nameCode {
    font-size: 1.3em;
}

.stock-item-body {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.stock-item-price {
    width: 200px;
    border-right: 1px solid grey;
    text-align: center;
}

.stock-item-price:nth-child(3n) {
    border-right: unset;
}
.stock-item-priceChange {
}
.stock-item-priceChangePercentage {
}
.stock-item-date {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.stock-item-posted {
    font-size: .6em;
    color: lightslategray;
    font-style: italic;
}


.bull {
    color: #00873c;
}

.bear {
    color: #eb0f29;
}

.glowGreen {
    animation: glow;
}

@keyframes glow {
    from {
    /* what you want to happen at the start goes here */
        text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00873c, 0 0    40px #00873c, 0 0 50px #00873c, 0 0 60px #00873c, 0 0 70px #00873c;
    }
    to {
    /* what you want to happen at the end goes here */
        text-shadow:  0 0 20px #fff, 0 0 30px #00872d, 0 0 40px #00872d, 0 0 50px #00872d, 0 0 60px #00872d, 0 0 70px #00872d, 0 0 80px #00872d;
    }
}