.stickerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    /* height: 74px; */
    line-height: 20px;
    font-size: 40px;
    color: #ffd36b;
    z-index: 1;
    background-color: black;
    /* position: absolute;
    width: 100%; */
}

.stickerHeader div {
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
