.SelectedWeek .DayPicker-Month {
    border-collapse: separate;
  }
  .SelectedWeek .DayPicker-WeekNumber {
    outline: none;
  }
  .SelectedWeek .DayPicker-Day {
    outline: none;
    border: 1px solid transparent;
  }
  .SelectedWeek .DayPicker-Day--hoverRange {
    background-color: #EFEFEF !important;
  }

  .SelectedWeek .DayPicker-Day--selectedRange {
    background-color: #fff7ba !important;
    border-top-color: #FFEB3B;
    border-bottom-color: #FFEB3B;
    border-left-color: #fff7ba;
    border-right-color: #fff7ba;
  }

  .SelectedWeek .DayPicker-Day--selectedRangeStart {
    background-color: #FFEB3B !important;
    border-left: 1px solid #FFEB3B;
  }

  .SelectedWeek .DayPicker-Day--selectedRangeEnd {
    background-color: #FFEB3B !important;
    border-right: 1px solid #FFEB3B;
  }

  .SelectedWeek .DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
  .SelectedWeek .DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
    border-radius: 0 !important;
    color: black !important;
  }
  .SelectedWeek .DayPicker-Day--hoverRange:hover {
    border-radius: 0 !important;
  }