.App {
  text-align: center;
}

#root{
  overflow-x: hidden;
  font-family: "AvenirMedium";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: "AvenirMedium";
  src: url("resources/fonts/AvenirLTStd-Medium.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLightItalic";
  src: url("resources/fonts/Metropolis-LightItalic.otf") format("truetype");
}

@font-face {
  font-family: 'PlayfairItalic';
  src: url('resources/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playfair';
  src: url('resources/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'LatoBold';
  src: url('resources/fonts/Lato-Bold.ttf');
}

.topClear {
  margin-top: unset;
}



